/* General body style */
*{
    margin: 0;
    padding: 0;
}
body {
    background: #EEE;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
}

/* container */
.container {
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
}

@media(max-width: 500px) {
    .container {
        width: 90%;
    }
}

.flex {
    display: flex;
    justify-content: end;
}
 
.hide {
    display: none;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

@font-face {
    font-family: 'georgiaregular';
    src: url('georgia_regular_font-webfont.woff2') format('woff2'),
        url('georgia_regular_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgiabold';
    src: url('georgia_bold-webfont.woff2') format('woff2'),
         url('georgia_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_bookregular';
    src: url('franklin_gothic_book_regular-webfont.woff2') format('woff2'),
        url('franklin_gothic_book_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: 'franklin_gothic_bookregular';
    font-size: 20px;
}

/* navbar beginning */
.nav {
    height: 80px;
    background: #333;
    width: 100%;
    margin: 0;
    font-size: 20px;
    filter: drop-shadow(0 4px 6px rgba(51, 51, 51, 0.4));
    font-family: 'franklin_gothic_bookregular', sans-serif;
    position: sticky;
    top: 0;
}
.nav-links {
    margin-left: auto;
    width: auto;
}
.nav-links ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.nav-links li {
   margin: 25px 20px; 
   list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: #EEE;
}

.fa-bars {
    color: #EEE;
}

.mobile-tog {
    padding-top: 26px;
    margin-left: auto;
}

@media (max-width:800px) {
    .mobile-nav {
        width: 50%;
        height: 100vh;
        background: #333;
        /* backdrop-filter: blur(20px); */
        box-shadow: rgba(0, 75, 94, 0.07) 0px 1px 1px, rgba(0, 75, 94, 0.07) 0px 2px 2px, rgba(0, 75, 94, 0.07) 0px 4px 4px, rgba(0, 75, 94, 0.07) 0px 8px 8px, rgba(0, 75, 94, 0.07) 0px 16px 16px;
        z-index: 1000;
        padding: 12px 12px 12px 32px;
        position: fixed;
        top: 0%;
        right: 0%;
    }

    .main-nav {
        display: none;
    }

    .close {
        justify-content: end !important;
        padding: 4px 8px;
        color: #EEE;
    }
}

@media(min-width:802px){
    .fa-bars {
        display: none !important;
    }
    .mobile-nav {
        display: none !important;
    }
} 

/* navbar end */

/* main heading beginning */
#main-heading {
    margin-top: 20px;
}
#main-heading .container{
    display: flex;
    justify-content: center;
    border-bottom: #333 2px solid;
}

@media(max-width:1025px){
    #main-heading .container img{
        width: 50%;
    }
}

@media(max-width:769px){
    #main-heading {
        width: 100%;
    }
    #main-heading .container{
        width: 90%;
    }
    #main-heading .container img{
        width: 60%;
    }
}

@media(max-width:475px){
    #main-heading .container img{
        width: 100%;
    }
}

/* main heading end */

/* next heading beginning */
#next-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'georgiabold';
    font-size: 27px;
    color: #333;
    text-align: center;
}
@media(max-width:1025px){
    #next-heading h2{
        font-size: 1.2em;
    }
}
@media(max-width:769px){
    #next-heading h2{
        font-size: 1.2em;
    }
}
@media(max-width:476px){
    #next-heading h2{
        font-size: 1.04em;
    }
}
/* next heading end */

/* hero start */
#hero {
    margin-bottom: 20px;
}
#hero .container {
    display: flex;
}
@media(max-width:476px){
    #hero .container {
        width: 90% !important;
    }
}
.hero-child {
    width: 33.333%;
    padding: 0 20px 0 20px;
}
.no-pl {
    padding-left: 20px;
}
.br {
    border-right: 1px #000 solid;
}
#hero h3 {
    font-size: 30px;
    font-family: 'georgiabold';
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
@media(max-width:1025px){
    #hero h3 {
        font-size: 24px !important;
        font-weight: 100 !important;
    }
}
@media(max-width:835px){
    #hero h3 {
        font-size: 28px !important;
        font-weight: 100 !important;
    }
}
#hero p {
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
#hero img {
    width: 100%;
}
@media(max-width:835px) {
    #hero .hero-child img {
        width: 60%;
        box-sizing: border-box;
        margin: 0 124px;
    }
}
@media(max-width:476px) {
    #hero img {
        width: 100% !important;
        margin: 0 !important;
    }
}
#hero .second-col h3{
    margin-top: 0;
}
#hero .col-text {
    height: 250px;
}
#hero .col-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40%;
}
@media(max-width:1025px){
    #hero .col-text {
        height: auto !important;
        box-sizing: content-box;
    }
    #hero .col-button {
        margin-bottom: 40px !important;
    }
    #hero .col-button button {
        font-size: 18px !important;
    }
}
@media(max-width:835px){
    #hero .col-button button {
        font-size: 20px !important;
    }
}
@media(max-width:476px){
    .hero-child {
        margin-bottom: 32px !important;
    }
}
 @media(max-width:835px){
    #hero .container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

    .hero-child {
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }
    .br {
        border-right: 0;
    }
    #hero .col-button {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #hero .col-text {
        height: auto;
    }
    #hero .col-button {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media(max-width:835px){
    .hero-heading {
        border-bottom: 2px #000 solid;
    }
    #hero .col-button button {
        margin-top: 0px !important;
        margin-bottom: 0px;
    }
}
@media(max-width:835px){
    #hero .col-button {
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }
}
#hero .col-button button {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
#hero .col-button button:hover {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background: #333; */
    box-shadow: #333 5px 5px;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
@media(max-width: 1025px) {
    #hero .col-button button {
        width: 200px;
    }
    #hero .col-button button:hover {
        width: 200px;
    }
}
@media(max-width: 835px) {
    #hero .col-button button {
        width: 300px;
    }
    #hero .col-button button:hover {
        width: 300px;
    }
}
#hero .col-logo {
    display: flex;
    justify-content: center;
}
#hero .col-logo img{
    height: 52px;
    margin: 0 4px;
}
@media(max-width: 769px){
    #hero .col-logo img{
        width: auto;
    }
}
/* hero end */

/* Frontend Section */
.main-sect {
    margin-top: 100px;
}

.main-sect h3 {
    font-size: 30px;
    font-family: 'georgiabold';
    /* text-align: center; */
    margin-bottom: 20px;
    color: #333;
    /* border-bottom: #333 1px solid; */
}

.main-sect h2 {
    font-size: 40.5px;
    font-family: 'georgiabold';
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 14px;
    color: #333;
    border-bottom: #333 2px solid;
}

@media(max-width:768px) {
    .main-sect {
        margin: 0 0 20px 0;
    }
    .main-sect h2 {
        font-size: 32.4px;
        text-align: center;
        padding: 0 0 20px 0;
        margin: 0 0 20px 0;
    }
    .main-sect h3 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media(max-width:500px) {
    .main-sect h2 {
        font-size: 28.08px;
    }
}

.graphic-img {
    float: left;
    margin-right: 40px;
}

/* Article Images */
.article p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 100px;
}

.graphic-img-1 {
    height: 327.34px;
    float: left;
    background-size: cover;
    margin-right: 40px;
}

@media(max-width:768px) {
    .article .graphic-img-1 {
        width: 100%;
        height: 356.34px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .article {
        margin-bottom: 40px;
    }
    .article p {
        margin-bottom: 20px;
    }
}

@media(max-width:475px) {
    .article .graphic-img-1 {
        height: 247.938px;
    }
}

@media(max-width:475px) {
    .article .graphic-img-1 {
        height: 247.938px;
    }
}

@media(max-width:425px) {
    .article .graphic-img-1 {
        height: 221.844px;
    }
}

@media(max-width:375px) {
    .article .graphic-img-1 {
        height: 195.750px;
    }
}

@media(max-width:320px) {
    .article .graphic-img-1 {
        height: 167.031px;
    }
}

#art-img-1 {
    background-image: url(../assets/img/project.png);
}
#art-img-1:hover {
    background-image: url(../assets/img/project_color.png);
}

#art-img-2 {
    background-image: url(../assets/img/project2.png);
}
#art-img-2:hover {
    background-image: url(../assets/img/project2_color.png);
}

#art-img-3 {
    background-image: url(../assets/img/project3.png);
}
#art-img-3:hover {
    background-image: url(../assets/img/project3_color.png);
}

#ui-1 {
    background-image: url(../assets/img/xd1.png);
}
#ui-1:hover {
    background-image: url(../assets/img/xd1_color.png);
}

#ui-2 {
    background-image: url(../assets/img/xd2.png);
}
#ui-2:hover {
    background-image: url(../assets/img/xd2_color.png);
}

#ui-3 {
    background-image: url(../assets/img/fg.png);
}
#ui-3:hover {
    background-image: url(../assets/img/fg_color.png);
}

#yt {
    background-image: url(../assets/img/yt.png);
}
#yt:hover {
    background-image: url(../assets/img/yt_color.png);
}
/* Frontend Section End */

/* Footer Start */
 footer {
    /* height: 200px; */
    padding: 40px 0 20px 0;
    background: #333;
    color: #EEE;
 }

 footer hr {
    margin: 20px 0;
 }

 footer ul {
    list-style: none;
 }

 footer ul li {
    margin-bottom: 10px;
    font-family: 'franklin_gothic_bookregular';
 }

 footer h3 {
    font-size: 30px;
    font-family: 'georgiabold';
    color: #EEE;
    margin-bottom: 20px;
 }

 footer a {
    color: #EEE !important;
    text-decoration: none;
 }

 footer a:hover {
    color: #000 !important;
 }

 .flex-footer {
    display: flex;
    justify-content: space-between;
 }

 .footer-1 {
    border-right: 2px solid #EEE;
 }

 .footer-3 {
    border-left: 2px solid #EEE;
 }

 .f {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
 }

 @media(max-width:767px) {
    .flex-footer {
        flex-direction: column;
     }
     .footer-1 {
        border-right: 0;
     }
     .footer-3 {
        border-left: 0;
     }
     footer li{
        text-align: center;
     }
     footer a{
        text-align: center;
     }
     footer h3{
        text-align: center;
     }
     .f {
        border-bottom: #EEE 2px solid;
        width: auto;
        margin-bottom: 20px;
     }
     
     hr {
        display: none;
     }
 }
 
/* Footer End */