/* General body style */
*{
    margin: 0;
    padding: 0;
}
body {
    background: #EEE;
}

/* container */
.container {
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
}

@font-face {
    font-family: 'georgiaregular';
    src: url('georgia_regular_font-webfont.woff2') format('woff2'),
        url('georgia_regular_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgiabold';
    src: url('georgia_bold-webfont.woff2') format('woff2'),
         url('georgia_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_bookregular';
    src: url('franklin_gothic_book_regular-webfont.woff2') format('woff2'),
        url('franklin_gothic_book_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* navbar beginning */
.nav {
    height: 80px;
    background: #333 !IMPORTANT;
    width: 100%;
    margin: 0;
    font-size: 20px;
    filter: drop-shadow(0 4px 6px rgba(51, 51, 51, 0.4));
    font-family: 'franklin_gothic_bookregular', sans-serif;
    position: sticky;
    top: 0;
}
.nav-links {
    margin-left: auto;
    width: auto;
}
.nav-links ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.nav-links li {
   margin: 25px 20px; 
   list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: #EEE;
}

/* navbar end */

/* main heading beginning */
#main-heading {
    margin-top: 20px;
}
#main-heading .container{
    display: flex;
    justify-content: center;
    border-bottom: #333 2px solid;
}

@media(max-width:769px){
    #main-heading {
        width: 100%;
    }
    #main-heading .container{
        width: 90%;
    }
    #main-heading .container img{
        width: 100%;
    }
}

/* main heading end */

/* next heading beginning */
#next-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'georgiabold';
    font-size: 27px;
    color: #333;
    text-align: center;
}
@media(max-width:476px){
    #next-heading h2{
        font-size: 1.25em;
    }
}
/* next heading end */

/* hero start */
#hero {
    margin-bottom: 20px;
}
#hero .container {
    display: flex;
}
@media(max-width:769px){
    #hero .container {
        width: 80%;
    }
}
@media(max-width:476px){
    #hero .container {
        width: 90% !important;
    }
}
.hero-child {
    width: 33.333%;
    padding: 0 20px 0 20px;
}
.no-pl {
    padding-left: 20px;
}
.br {
    border-right: 1px #000 solid;
}
#hero h3 {
    font-size: 30px;
    font-family: 'georgiabold';
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
#hero p {
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
#hero img {
    width: 100%;
}
@media(max-width:769px) {
    #hero .hero-child img {
        width: 60%;
        box-sizing: border-box;
        margin: 0 124px;
    }
}
@media(max-width:476px) {
    #hero img {
        width: 100% !important;
        margin: 0 !important;
    }
}
#hero .second-col h3{
    margin-top: 0;
}
#hero .col-text {
    height: 250px;
}
#hero .col-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40%;
}
@media(max-width:476px){
    .hero-child {
        margin-bottom: 32px !important;
    }
}
 @media(max-width:769px){
    #hero .container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
@media(max-width:1025px){
    #hero .col-text {
        height: 400px;
        box-sizing: content-box;
    }
}
    .hero-child {
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }
    .br {
        border-right: 0;
    }
    #hero .col-button {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #hero .col-text {
        height: auto;
    }
    #hero .col-button {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media(max-width:1025px){
    .hero-heading {
        border-bottom: 2px #000 solid;
    }
    #hero .col-button button {
        margin-top: 60px !important;
        margin-bottom: 0px;
    }
}
@media(max-width:769px){
    #hero .col-button {
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }
}
#hero .col-button button {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
#hero .col-button button:hover {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background: #333; */
    box-shadow: #333 5px 5px;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
@media(max-width: 1025px) {
    #hero .col-button button {
        width: 200px;
    }
    #hero .col-button button:hover {
        width: 200px;
    }
}
@media(max-width: 769px) {
    #hero .col-button button {
        width: 300px;
    }
}
#hero .col-logo {
    display: flex;
    justify-content: center;
}
#hero .col-logo img{
    height: 52px;
    margin: 0 4px;
}
/* hero end */