/* General body style */
*{
    margin: 0;
    padding: 0;
}
body {
    background: #EEE;
}

/* container */
.container {
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
}

@font-face {
    font-family: 'georgiaregular';
    src: url('georgia_regular_font-webfont.woff2') format('woff2'),
        url('georgia_regular_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgiabold';
    src: url('georgia_bold-webfont.woff2') format('woff2'),
         url('georgia_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_bookregular';
    src: url('franklin_gothic_book_regular-webfont.woff2') format('woff2'),
        url('franklin_gothic_book_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* navbar beginning */
.nav {
    height: 80px;
    background: #333 !IMPORTANT;
    width: 100%;
    margin: 0;
    font-size: 20px;
    filter: drop-shadow(0 4px 6px rgba(51, 51, 51, 0.4));
    font-family: 'franklin_gothic_bookregular', sans-serif;
}
.nav-links {
    margin-left: auto;
    width: auto;
}
.nav-links ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.nav-links li {
   margin: 25px 20px; 
   list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: #EEE;
}

/* navbar end */

/* main heading beginning */
#main-heading {
    margin-top: 20px;
}
#main-heading .container{
    display: flex;
    justify-content: center;
    border-bottom: #333 2px solid;
}
/* main heading end */

/* next heading beginning */
#next-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'georgiabold';
    font-size: 24px;
    color: #333;
    text-align: center;
}
/* next heading end */

/* hero start */
#hero .container {
    display: flex;
}
.hero-child {
    width: 33.333%;
    padding: 0 20px 0 20px;
}
.no-pl {
    padding-left: 0;
}
.br {
    border-right: 1px #000 solid;
}
#hero h3 {
    font-size: 28px;
    font-family: 'georgiabold';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
#hero p {
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
#hero img {
    width: 100%;
}
#hero .second-col h3{
    margin-top: 0;
}
#hero .col-text {
    height: 250px;
}
#hero .col-button {
    display: flex;
    justify-content: center;
}
#hero .col-button button {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
#hero .col-button button:hover {
    border: 2px #333 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #333;
    color: #EEE;
    width: 300px;
    font-size: 20px;
    font-family: 'franklin_gothic_bookregular';
}
/* hero end */